.App header {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.App header .Logo {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.App header .Logo h1 {
  margin-bottom: 0px;
}

.App header .Logo h4 {
  margin-top: 0px;
}

.App header .Login {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App .Body-Container {
  height: 85vh;
}


.App .Body-Content { 
  width: 95vw;
  margin-right:auto;
  margin-left: auto;
}

.App footer {
  padding: 5px;
}